:root{
    /*FONTS*/
    --heading-font: 'Sora', sans-serif;
    --body-font: 'Manrope', sans-serif;

    --white: #ffffff;
    --black: #000000;

    /*Main website colors*/
    --pink: #FF398F;
    --purple: #420D4A;
    --lightpurple: #9d849d;
    --darkpurple: #210535;
    --otherpurple: #3A0A35;

    /*Dev skills*/
    --HTML:#E34F26;
    --CSS: #1572B6;
    --JavaScript: #F7DF1E;
    --PHP: #777bb4;

    /*Design skills*/
    --Figma:#F24E1E;
    --Blender: #f5792a;
    --Illustrator: #ff9a00;
    --Photoshop: #31a8ff;

}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.blog{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.blog h2{
    color: var(--pink);
    margin-bottom: 30px;
}

.blogPost{
    background-color: var(--purple);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.blogPost h3{
    font-size: 25px;
    color: var(--lightpurple);
    margin-bottom: 15px;
}

.blogPost p{
    color: var(--white);
    line-height: 1.6;
}

.blogPost a{
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

.blogPost a:hover{
    border-bottom: 2px solid var(--white);
    padding-bottom: 3.2px;
}

body.blogPage .blogLink, .singleBlogPost .blogLink{
    display: none;
}


/*A full blog post*/
.fullPost{
    background-color: var(--purple);
    padding: 40px;
    border-radius: 12px;
    max-width: 800px;
    margin: 60px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.fullPost h2{
    color: var(--pink);
    font-size: 32px;
    margin-bottom: 10px;
}

.fullPost .date{
    color: var(--white);
    font-size: 14px;
    margin-bottom: 30px;
}

.fullPost p{
    font-size: 18px;
    line-height: 1.8;
    color: lightgrey;
    margin-bottom: 20px;
}

.fullPost img{
    max-width: 100%;
    border-radius: 8px;
    margin: 20px 0;
}

/*Floating avatar side image*/
.sideImgContainer{
    position: fixed;
    top: 120px;
    left: 40px;
    width: 220px;
    z-index: 1000;
    animation: floatingAvatar 3s ease-in-out infinite;
}

@keyframes floatingAvatar {
    0% {transform:  translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.sideImgContainer img{
    width: 100%;
    height: auto;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.7));
}


/*Footer*/
footer{
    background-color: var(--purple);
    position: relative;
    overflow: hidden;
}